<div class="sidebar">
    <h3>Latest News</h3>
    <h4>Python 3.11.0rc1 is now available</h4>
    <h5>August 8th, 2022</h5>
    <p>This is the first release candidate of Python 3.11.<br/><a
            href="https://pythoninsider.blogspot.com/2022/08/python-3110rc1-is-now-available.html">Read more</a></p>
    <p></p>
    <h4>Deep dive into TCP</h4>
    <h5>January 28th, 2022</h5>
    <p>Here is a really cool YouTUbe video about how TCP really works.<br/><a
            href="https://www.youtube.com/watch?v=rmFX1V49K8U&list=PLhfrWIlLOoKO8522T1OAhR5Bb2mD6Qy_l">Read more</a>
    </p>
    <h3>Useful Links</h3>
    <ul>
        <li><a href="https://www.pythonmorsels.com/callables/">Python callables</a></li>
        <li>
            <a href="https://treyhunner.com/2018/06/how-to-make-an-iterator-in-python/#:~:text=An%20iterable%20is%20anything%20you,iter%20function%20on%20the%20iterable.">Python
                iterators and iterables</a></li>
        <li><a href="https://www.auvik.com/franklyit/blog/what-is-quic-protocol/">What is QUIC protocol</a></li>
        <li><a href="https://learningcontent.cisco.com/games/binary/index.html">CISCO Binary Game</a></li>
    </ul>
    <h3>Search</h3>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png"
                   alt="Search" title="Search"/>
        </p>
    </form>
</div>