<div id="header">
    <div id="logo">
        <div id="logo_text">
            <h1><a href="/">Nikita<span class="logo_colour">Kurpas</span></a></h1>
            <h2>Python. Web Design. Networks. ML. Cloud.</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/bio/">Bio</a></li>
            <li><a href="/career/">Career</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
</div>